* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

body {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

a {
    text-decoration: none;
}
/*body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 61px 0 61px;
}*/
/*-- head --*/
.head {
    
}
.wrap{
	width:85%;
	margin:0 auto;
}
/*-- start-top-header --*/
.head .top-header {
    background: #f1f1f1;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
}

.top-header-left {
    float: left;
    margin-top: 5.5px;
    width: 33.333333%;
}

.num {
    color: red;
    font-weight: 700;
}

.top-header-right {
    float: right;
    font-size: 16px;
    width: 66.666667%;
}

.top-header-right ul li {
    display: inline-block;
	padding: 0.3em 0.5em 0.3em ;
    float: right;
}

.top-header-right .search-txt {
    border-radius: 0;
    border: none;
    height: 35px;
    padding-left: 0;
    background: initial;
    box-shadow: initial;
    font-weight: 450;
}

.top-header-right img:hover {
    
    cursor: pointer;
}

.top-header-right input[type="text"]:focus {
    outline: none;
}

.top-header-right ul li a{
	display: inline-block;
}

.btn-signup-hd, .btn-cart {
    color: rgb(3, 3, 3);
    padding: 0 15px;
}

.btn-signup-hd:hover, .btn-cart:hover {
	text-decoration: none;
    background-color: #ff5722;
    border-radius: 20px;
    padding: 0 15px;
    color: #fff;
}

.btn-login-hd {
    background-color: #ff5722;
    padding: 0 15px;
    border-radius: 20px;
    color: #fff;
}

.btn-login-hd:hover {
    background-color: #db4b1f;
    text-decoration: none;
    color: #fff;
}

/*-- End-top-header --*/

/*-- Start-header --*/
.head .header {
    height: 56px;
    background-color: #fff;
}
.logo{
	float: left;
    margin-top: 1em;	
    position: absolute;
}
.header-nav{
	float:right;
	position: relative;
	width: 55%;
}

.flexy-menu{
	margin: 0;
	padding: 0;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	margin-right: 8%;
    width: 66,666667%;
    min-height: 1px;
}

.flexy-menu li{
	display:inline;
	font-size:13px;
	margin:0;
	padding:0;
	float:left;
	line-height:20px;
	position:relative;
}

.flexy-menu li a{
	padding: 1.2em 1.5em;
	color: #393c41;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	display: block;
}

.flexy-menu li a:hover{
	color:#ff5722;
}
.flexy-menu li.active a{
	color:#ff5722;
}
.flexy-menu li.right{
	float:right;
}
.flexy-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	width: 80%;
	background: rgba(44, 62, 80, 0.71);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.flexy-menu ul li{
	clear:both;
	width:100%;
	border:0;
	font-size:12px;
}
/*-- After-login --*/
.top-header-right .btn-group .btn-user {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
}

.top-header-right .btn-group .btn-user:focus {
    border: none;
}

.top-header-right .btn-group .avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.top-header-right .dropdown-menu .dropdown-item:hover {
    color: #ff5722;
}


/* .top-header-right .btn-group .avatar-user:hover {
    border: 1px solid rgb(0, 0, 0);
} */

/*-- End-header --*/

/* EMPTY CART - START */
.container-empty-cart {
    background-color: #f5f5f5;
    height: 600px;
    /*margin-top: 30px;*/
    margin-left: -104.5px;
    margin-right: -104.5px;
}
.title-empty-cart {
    padding: 40px 0 40px 0;
    left: 40px;
    right: 40px;
}
.title-empty-cart h2 {
    margin: 0px 0 0 73px;
    font-size: 24px;
    font-weight: 700;
}
.content-empty-cart {
    margin: 0 320px 0 320px;
}
.image-empty-cart {
    width: 100%;
}
.image-empty-cart img {
    width: 256px;
    height: 188px;
    margin: 0 132px 0 200px;
}
.note-empty-cart {
    text-align: center;
}
.note-empty-cart h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}
.note-empty-cart h4 {
    font-weight: 400;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
/* EMPTY CART - END */

/*-- Start-Footer --*/
#footer{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("/Content/images/bg-footer.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    margin-top: 10px;
}
#footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
#footer .container .noi-dung{
    margin-right: 30px;
}
#footer  .container .noi-dung.about{
    width:40%;
}
#footer .container .noi-dung.about h2{
    position: relative;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
}
#footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ff5722;
}
#footer .container .noi-dung.about p{
    color: #222;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.links h2{
    position: relative;
    color: #222;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ff5722;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #ff5722;
}
.contact h2{
    position: relative;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ff5722;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #000;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #000;
}
.contact .info li a{
    color: #000;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #ff5722;
}
.btn--primary:active {
    background: #ff5722;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
.bottom-footer{
    width: 100%;
}
.bottom-footer hr{
    background: #484646;
    height: 1px;
    margin: 5px auto 20px auto;
}
.copyright {
    color:#000;
    
}
/*-- End-Footer --*/